# General
.DS_Store
.env

# Yarn
node_modules/

# Statamic Local files
local/cache/*
local/storage/*
local/temp/*

# Public files
public/css
public/js
public/sitemap.xml
public/**/*.html
public/mix-manifest.json
