@tailwind base;

figure picture, figure picture img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

a:not(.no-shadow) {
    transition: box-shadow 150ms;
    box-shadow: 0 -2px 0 0 #fbd998 inset;
}

a:not(.no-shadow):hover {
    box-shadow: 0 -2rem 0 0 #fbd998 inset;
}

@tailwind components;
@tailwind utilities;

/* Other */
#mobile-nav {
    transform: translateY(105%);
}
#mobile-nav.loaded {
    transition: transform 250ms ease-out;
}

#mobile-nav.open {
    transform: translateY(0);
}

.aspect-16x9 {
    height: 100vh;
    max-height: 80vh;
    padding-bottom: 56.25%;
}
.aspect-16x9 iframe {
    max-height: 80vh;
}

.shadow-teal-lighter {
    transition: box-shadow 150ms;
    box-shadow: 0 -2px 0 0 #81E6D9 inset;
}

.hover\:shadow-teal-lighter:hover {
    box-shadow: 0 -2rem 0 0 #81E6D9 inset;
}

.shadow-orange-lighter {
    transition: box-shadow 150ms;
    box-shadow: 0 -2px 0 0 #fbd998 inset;
}

.hover\:shadow-orange-lighter:hover {
    box-shadow: 0 -2rem 0 0 #fbd998 inset;
}

.permalink {
    @apply no-underline ml-1 text-gray-400;
    box-shadow: none !important;
}

.permalink:hover {
    @apply text-gray-500;
}


.shadow-top {
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
}

.shadow-top-md {
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px 0 rgba(0, 0, 0, 0.08);
}

.shadow-top-lg {
    box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.11), 0 -5px 15px 0 rgba(0, 0, 0, 0.08);
}

.giscus {
    @apply max-w-3xl mx-auto;
}


/**
 * Highlighting
 */
pre, code {
    @apply p-1;
    color: #5C6773;
    background: rgba(241,249,248,var(--tw-bg-opacity)) !important;
}

pre {
    @apply p-6 overflow-x-scroll;
}

.hl-keyword {
    color: #FA8D3E;
}

.hl-property {
    color: #F2AE49;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #55B4D4;
}

.hl-generic {
    color: #41A6D9;
}

.hl-value {
    color: #86B300;
}

.hl-variable {
    color: #5C6773;
}

.hl-comment {
    color: #ABB0B6;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #5C6773;
    padding: 0 1ch;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
