<figure class="my-8">
    <div class="flex justify-center mb-2 max-w-4xl mx-auto">
        {{ image }}
            {{ if extension !== 'gif' }}
                {{ responsive:url alt="{title}" webp="false" }}
            {{ else }}
                <picture>
                    <img src="{{ url }}" alt="{title}">
                </picture>
            {{ /if }}
        {{ /image }}
    </div>
    {{ if caption }}
        <figcaption class="block text-base text-gray-600 text-center max-w-sm mx-auto">{{ caption }}</figcaption>
    {{ /if }}
</figure>
